################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestingWithOksana/.vs/TestingWithOksana/v15
